<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/create_prodcess" method="post">
      <input type="text" placeholder="tilte" name="title" />
      <textarea name="description" placehoder="description"></textarea>
      <input type="submit" />
    </form>
  </body>
</html>
