<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/update_prodcess" method="post">
      <input
        type="text"
        placeholder="<%= title %>"
        vlaue="<%= title %>"
        name="title"
      />
      <textarea name="description" placeholder="<%= description %>">
<%= description %></textarea
      >
      <input type="submit" />
    </form>
  </body>
</html>
